.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #3e5223;
  border: #3e5223;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #283416;
  border: #222d14;
}
